<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Listeners.Listener"></listener>
        <listener class-name="reporting.Listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="SeleniumPagefactoryFramework-master">
       <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="cart.CartPageTest">
                <methods>
                    <include name="verifycartpage"/>
                    <include name="verifycartSiginBar"/>
                    <include name="verifycartAddressBar"/>
                    <include name="verifycartShoppingBar"/>
                    <include name="verifycartPaymentBar"/>
                    <include name="verifyfadedTshirt"/>
                </methods>
            </class>
            <!--<class name="contact.ContactTest">
                <methods>
                    <include name="verifycontactus"/>
                    <include name="verifymessagesent"/>
                    <include name="varifySendAMessage"/>
                </methods>
            </class>
            <class name="homepageeTest.HomePageeTest">
                <methods>
                    <include name="verifyHomePage"/>
                    <include name="searchSleeveQuantity"/>
                    <include name="searchHatQuantity"/>
                    <include name="searchDressesQuantity"/>
                    <include name="searchwomenQuantity"/>
                    <include name="searchTshirtsQuantity"/>
                    <include name="searchpopular"/>
                    <include name="searchbestSeller"/>
                    <include name="information1"/>
                    <include name="information2"/>
                    <include name="information3"/>
                    <include name="information4"/>
                    <include name="information5"/>
                    <include name="information6"/>
                    <include name="information7"/>
                    <include name="information8"/>
                    <include name="myAccount1"/>
                    <include name="myAccount2"/>
                    <include name="myAccount3"/>
                    <include name="myAccount4"/>
                    <include name="verifycontactus"/>
                </methods>
            </class>
            <class name="login.LoginTest">
                <methods>
                    <include name="invalidLoginVerify"/>
                    <include name="validLoginVerify"/>
                    <include name="validLoginWithLogOutVerify"/>
                    <include name="invalidCreateAccountVerify"/>
                    <include name="invalidSignUpAccountVerify"/>
                </methods>
            </class>
            <class name="multipleItem.MultipleItemTest">
                <methods>
                    <include name="verifyfadedTshirt"/>
                    <include name="verifyBlouse"/>
                    <include name="verifyPrintedDressOne"/>
                    <include name="verifyPrintedSummerDress"/>
                    <include name="verifyPrintedChiffon"/>
                    <include name="verifyQuanity"/>
                    <include name="verifyChangeSize"/>
                </methods>
            </class>
            <class name="multipleItemAdded.MultipleItemAddedTest">
                <methods>
                    <include name="verifycartpage"/>
                    <include name="verifyQuanity"/>
                    <include name="verifyChangeSize"/>
                </methods>
            </class>
            <class name="socialMediaTest.SocialMediaTest">
                <methods>
                    <include name="verifyfacebook"/>
                    <include name="verifytwitter"/>
                    <include name="verifyyoutube"/>
                    <include name="verifygoogle"/>
                </methods>
            </class>
            <class name="womanTest.WomanTest">
                <methods>
                    <include name="verifyTshirt"/>
                    <include name="verifyblouse"/>
                    <include name="verifybCasual"/>
                    <include name="verifyEvening"/>
                    <include name="verifySummer"/>
                    <include name="verifyWomenTshirt"/>
                    <include name="verifyWomenBlouse"/>
                    <include name="verifyWomenCasualDress"/>
                    <include name="verifyEveningDress"/>
                    <include name="verifySummerDress"/>
                </methods>
            </class>
            <class name="womencatalog.WomanCatalogTest">
                <methods>
                    <include name="verifyWomancatalog"/>
                    <include name="verifyDresscatalog"/>
                    <include name="verifyTshirtcatalog"/>
                </methods>
            </class>-->
        </classes>
    </test>
</suite>